<div ng-controller="StaffListController">
    <div>
        <div ng-repeat="department in departments">
            <h4>{{department.name}} : </h4>

            <div class="employee-container">

                <div ng-repeat="employee in department.employees">
                    {{employee.firstname}} {{employee.lastname}} {{employee.email}}
                </div>

                <!--<button class="btn-remove-employee" type="button" ><i class="icon-remove"/></button>-->
                <!--<img class="edit img-polaroid employee-image" src = "{{gravatar}}", title = "{{fullname}}" />-->
                <!--<span style="font-weight: bold; display: block; text-align: center; margin-left: auto; margin-right: auto; width: 150px;">{{fullname}}</span>-->

            </div>
        </div>
    </div>
</div>


