<div ng-controller="StaffListController">
    <div>
        <div ng-repeat="department in departments | orderBy:'name'">

            <h4 style="clear: both">{{department.name}} : </h4>

            <!--<div class="employee-container">-->

                <div ng-repeat="employee in department.employees | orderBy:'lastname'"  >
                    <div class="employee-container" >
                        <button class="btn-remove-employee" type="button" ><i class="icon-remove"> </i></button>
                        <gravatar-image class="employee-image" data-email="employee.email" data-size="105" data-default="404" ></gravatar-image>
                        <span style="font-weight: bold; display: block; text-align: center; margin-left: auto; margin-right: auto; width: 150px;">{{employee.firstname}} {{employee.lastname}}</span>
                    </div>
                </div>

                <!--<img class="edit img-polaroid employee-image" src = "{{gravatar}}", title = "{{fullname}}" />-->
                <!--<span style="font-weight: bold; display: block; text-align: center; margin-left: auto; margin-right: auto; width: 150px;">{{fullname}}</span>-->

                <!--<img class="edit img-polaroid employee-image" src = "{{gravatar}}", title = "{{fullname}}" />-->

            <!--</div>-->
        </div>
        <!--<gravatar-image class="employee-image" data-email="person1.email" data-size="105" data-default="404" ></gravatar-image>-->
        <!--<gravatar-image class="employee-image" data-email="person2.email" data-size="105" data-default="404" ></gravatar-image>-->
    </div>
</div>


