<div class="employee-container well pull-left">
    <button class="btn-remove-employee" style="border: none; background-color: black" type="button" ng-click="alertRemove(employee._id)"><i class="icon-remove-sign"></i></button>
    <gravatar-image ng-click="edit(employee.departmentId, employee._id)" class="employee-image" data-email="employee.email" data-size="105" data-default="" ></gravatar-image>
    <span class="label label-inverse" style="margin-top:15px; display: block; text-align: center; margin-left: auto; margin-right: auto; width: 150px;">{{employee.firstname}} {{employee.lastname}}</span>
</div>